<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-title="{{ page.title }}" data-save="{% if page.relative_path %}{{ page.relative_path }}{% else %}{{ page.name }}{% endif %}">

    {% include header.html %}
		
    <div id="mhContent" class="page_content">
    	{{ content }}
    </div>

    {% include footer.html %}
		

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Slick Carousel -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- Firebase -->
			<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
		<!-- lightbox js -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
		<!-- lightgallery js -->
			<script src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.0.2/dist/js/lightgallery.min.js"></script>
		<!-- Custom JS -->
    	<script src="/assets/js/js.js{% if site.production == false %}?date={{ site.time | date: '%s' }}{% endif %}"></script>
		   
			{% if page.js %}
				<script src="{{ page.js | prepend: site.baseurl }}"></script>
			{% endif %}
  </body>

</html>
